@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg: #010142;
    --light-blue: #0984ff;
    --white: #fff;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    position: relative;
}

.sidebar {
    position: absolute;
    background: var(--bg);
    color: var(--white);
    width: 300px;
    display: none;
    height: 100%;
    padding: 15px;
    z-index: 99;
}

.sidebar.active {
    display: block;
}

.hamburger {
    position: fixed;
    color: var(--white);
    background: #000096;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    top: 0;

    font-size: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile img {
    width: 70px;
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
}

.profile-txt {
    background: var(--white);
    color: var(--bg);
    padding: 10px;
    border-radius: 10px;
}

.profile-txt h3 {
    font-weight: 600;
}

.profile-txt p {
    font-size: 13px;
}

.side-list {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-list .list {
    width: 200px;
}

.side-list .list li {
    margin-bottom: 10px;
    padding: 5px;
    transition: .3s ease;
}

.side-list .list li:hover {
    background: var(--white);
    color: var(--bg);
    border-radius: 10px;
}

.icon {
    margin-right: 10px;
}

header,
.transaction,
.wallet,
.report {
    padding: 10px 50px;
}

header {
    background: var(--bg);
    color: #fff;
}

.head h2 {
    text-align: center;
    letter-spacing: 1;
    margin-bottom: 30px;
}

.title {
    margin-top: 40px;
    line-height: 2;
}

.ref-link {
    color: var(--light-blue);
    transition: .3s ease;
}

.ref-link:hover {
    color: #fff;
    text-decoration: underline;
}

.transaction {
    text-align: center;
}

.row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 20px 100px;
    box-shadow: 0px 0px 2px black;
    border-radius: 4px;
    outline: none;
}

.card:hover {
    background: #f1f1f1;
    opacity: .9;
}

.wallet {
    margin: 30px 0;
    padding-bottom: 30px;
    background: var(--bg);
}

.wallet .row .card {
    background: #fff;
}

.report .card {
    margin: 0 20px;
}

.report .card>button {
    background-color: #000096;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .3s ease;
    outline: none;
}
.report .card>button:hover{
    opacity: .8;
}

footer{
    background: #010142;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-style: oblique;
    color: grey;
}

.form-wrapper{
    .wrapper-registration {
        max-width: 400px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper-registration h2 {
        text-align: center;
    }
    
    .wrapper-registration form {
        display: grid;
        gap: 10px;
    }
    
    .wrapper-registration label {
        font-weight: bold;
    }
    
    .wrapper-registration input[type="text"],
    .wrapper-registration input[type="email"],
    .wrapper-registration input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .wrapper-registration input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .wrapper-registration input[type="submit"]:hover {
        background-color: #0056b3;
    }

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  background: var(--light-blue);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: var(--light-blue);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: var(--light-blue);
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: var(--light-blue);
  border: 1px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: var(--light-blue);
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: blue;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}