<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <div  class=''>
             <h3 class='w3-center' >My Referals </h3>

<h4>you have refered {{referal_total}} users so far </h4>

            <div class="table-responsive card">       <table class='table table-bordered table-striped'>




<tr>
    <th>Username</th>
      <th>Email</th>
        <th>Phone Number</th>
          <th>Date Joined</th>
           <th>Bonus earned</th>
</tr>
{% for ref in referal %}
<tr><td>{{ref.username}}</td>
<td>{{ref.referal_user.email}}</td>
<td>{{ref.referal_user.Phone}}</td>
<td>{{ref.referal_user.date_joined}}</td>
<td>N{{ref.referal_user.Bonus}}</td>
</tr>



</table>





    </div>
  </div>
</div>

        </div>
</div>

        </div>


</body>
</html>